<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <title>Twitter Home Page</title>
</head>
<body>
    <div class="app">
        <div class="side">
           <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
           </ul>
        </div>
        <div class="main">
         
            <div class="top">
                <div class="img">
                    <img src="<%=getUser.url%>" alt="" height="40" width="40" class="profile" style="width: 60px;height:60px;">
                </div>
                <div class="info">
                    <div class="name">  <h4><%=getUser.name%></h4></div>
                    <div class="detail"> <%=tweets.length  %> Tweets - <%= getUser.following.length %> Following  </div>
                </div>
                <% if(!isFollowed) {%>
                    <form action="/follow" method="post"><input type="text" hidden name="newuid" value="<%=getUser.uid%>"  >
                    <input type="submit" class="follow" value="follow" id="ipx">
                    </form>
                
                <% }else{ %>
                    <form action="/unfollow" method="post"><input type="text" hidden name="newuid" value="<%=getUser.uid%>"  >
                        <input type="submit" class="follow" value="unfollow" id="ipx">
                        </form>
                    <% } %>
            </div>
            <div class="tweets">
                <% if(tweets) {%>
                    <ul class="list-group">
                    <% tweets.map(t=>{  console.log(t)%>
                        
                            <li class="list-group-item tweet"><img src="<%=t.url%>" alt="" class="profile"> <%=t.name %>  <span class="blockquote-footer"><%=t.date  %></span></li>
                            <li class="list-group-item">  <p><%= t.tweet %></p></li>
                            
                     
                <% })} %>
                </ul>
            </div>
        </div>
    </div>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .app{
            display: flex;
            flex-direction: row;
            width: 100%;
           
        }
        .side{
            width: 20%;
            display: flex;
            flex-direction: column;
           padding-top: 40px;
           
            position: fixed;
            height: 100%;;
            /* background-color: #1DA1F2; */
            border-right:1px solid rgba(0, 0, 0, 0.5) ;
        }
        .main{
            width: 80%;
            margin-left: 20%;
            height: 100%;
            background-color: #fff;
        }
        .side a{
            text-decoration: none;
        }
        .side li{
            text-align: center;
            list-style: none;
            padding: 20px;
            /* border-bottom: 2px solid lightskyblue; */
        }
        .side li:hover{
            background-color: rgb(134, 241, 241);
        }
        .side li a{
            color: black;
            font-size: large;
        }
        .profile{
            background-color: black;
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
        .list-group{
            border-radius: 0;
        }
        .tweet{
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .top{
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 30px;
            width: 100%;
        }
        #follow{
            border: none;
            outline: none;
            padding: 5px;
            color: rgb(37, 122, 250);
        }
        #ipx{
            border:none;
            color:rgb(40, 99, 209);
            padding:8px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
        }
    </style>
    <script>
    
    </script>
</body>
</html>